.contacts__feedback {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 34px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  font-size: 24px;
}

@media (min-width: $tablet-width) {
  .contacts__feedback {
    margin: 0 auto;
    width: 369px;
    font-size: 40px;
    line-height: 49px;
  }
}

.contacts__list {
  @include clear-list;
  text-align: center;
}

.contacts__title {
  font-size: 18px;

  &--email {
    margin-left: 4px;
    padding-bottom: 2px;
  }
}

.contacts__text {
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 23px;
  width: 298px;
  font-size: 24px;
  font-weight: 300;
  color: $pink;

  &--email {
    margin-left: 13px;
    padding-top: 4px;
    padding-bottom: 26px;
  }

  &--address {
    line-height: 28px;
    padding-bottom: 40px;
  }
}

.contacts__text a {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .contacts__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts__come {
    position: relative;
    top: -90px;
  }
}
