.data-label {
  display: block;
  margin-left: 22px;
  margin-bottom: 4px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .data-label {
    display: inline;
    margin-left: 0;
    margin-right: 19px;
    margin-bottom: -3px;
  }

  .data-label-telephone {
    margin-left: 78px;
  }

  .data-label-email {
    margin-left: 78px;
  }
}

@media (min-width: $desktop-width) {
  .data-label-email {
    margin-left: 78px;
  }
}
