.data-field {
  width: 236px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 30px;
  color: $text-color;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  outline: 0;

  &:hover {
    border-color: $text-color;
  }

  &:focus {
    border-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .data-field {
    width: 100%;
    padding-left: 18px;
  }

  .data-field-telephone {
    margin-left: 58px;
    margin-bottom: 10px;
    order: -1;
    width: 399px;
  }

  .data-field-email {
    margin-left: 58px;
    margin-bottom: 10px;
    order: -1;
    width: 400px;
  }
}

@media (min-width: $desktop-width) {
  .data-field {
    padding-left: 19px;
    padding-right: 24px;
  }

  .data-field-telephone {
    margin-left: 58px;
    padding-left: 18px;
    width: 269px;
  }

  .data-field-email {
    padding-left: 18px;
    margin-right: 116px;
    width: 269px;
    margin-left: 2px;
  }
}
