.download {
  background-color: $top-color;
  padding-top: 28px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .download {
    display: flex;
    padding: 0;
    padding-top: 203px;
    margin-top: -110px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat bottom center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-top: 325px;
    margin-top: -103px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat bottom center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg");
      background-position-x: -800px;
      background-size: 2590px auto;
    }
  }
}

.download__button {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  width: 280px;
  padding: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $white;
  border: 3px solid $white;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $pink;
    background: #ffffff;
  }

  &:active {
    color: #f2ced5;
    font-weight: 300;
    background: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .download__button {
    width: 300px;
  }
}

.download__list {
  @include clear-list;
  padding-top: 32px;
  padding-bottom: 22px;
  padding-right: 58px;
  padding-left: 58px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .download__list {
    padding-right: 50px;
    padding-left: 45px;
  }
}

.download__item {
  display: block;
  height: 57px;
  width: 47px;

  &--apple {
    background: url("../img/logo-apple.svg") no-repeat;
  }

  &--android {
    margin-top: 4px;
    background: url("../img/logo-android.svg") no-repeat center;
  }

  &--windows {
    margin-top: 5px;
    background: url("../img/logo-microsoft.svg") no-repeat center;
  }
}

.download p {
  margin: 0 auto;
  padding: 0;
  width: 240px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .download p {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
  }
}
