.edition {
  position: relative;
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: $grey-light;

  &::before {
    position: absolute;
    content: "";
    background: url("../../img/bg-triangle-white.svg") no-repeat;
    background-size: 100% 100%;
    height: 25px;
    width: 320px;
    top: 0;
  }
}

.edition__list {
  margin: 0 auto;
  line-height: 30px;
  text-transform: uppercase;
  width: 280px;
  border-collapse: collapse;
}

.edition__stroke:first-child {
  padding: 25px;
  background-color: $text-color;
}

.edition__stroke:not(:first-child) {
  background-color: $white;
}

.edition__stroke:first-child .edition__item {
  padding-top: 18px;
  padding-bottom: 18px;
}

.edition__stroke:not(:first-child) .edition__item {
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.edition__item {
  position: relative;
  border: 2px solid #e5e5e5;

  &--hit::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 73px;
    height: 73px;
    background: url("../../img/bg-hit.svg") no-repeat top left;
  }

  &--yes::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 19px;
    width: 31px;
    height: 21px;
    background: url("../../img/icon-yes.svg") no-repeat center right;
    background-size: 31px 21px;
  }

  &--no::after {
    position: absolute;
    content: "";
    top: 16px;
    right: 19px;
    width: 27px;
    height: 29px;
    background: url("../../img/icon-no.svg") no-repeat center right;
    background-size: 27px 26px;
  }
}

.edition__banner {
  position: absolute;
  content: "";
  font-size: 16px;
  color: $white;
  transform: rotate(-45deg);
  top: 13px;
  left: 10px;
}

.edition__item-border {
  border-top: none;
  border-bottom: none;
}

.edition__item-border-top {
  border-top: none;
}

.edition__item p {
  margin: 0;
  text-align: center;

  &:first-child {
    color: $white;
    font-size: 18px;
    font-weight: 700;
  }

  &:last-child {
    color: $white;
    font-size: 24px;
    font-weight: 300;
  }
}

.edition__toggles {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}
