.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect h3 {
    margin: 0;
    padding-top: 37px;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }

  .effect p {
    margin: 0 auto;
    width: 308px;
    padding-right: 2px;
    padding-bottom: 9px;
  }

  .effect a {
    color: $pink;
    border-bottom: 1px solid $pink;
  }

  .effect__timer {
    width: 238px;
    height: 276px;
    background: url("../img/timer.svg") no-repeat;
    background-size: cover;

    &::after {
      position: absolute;
      content: "24";
      left: 84px;
      bottom: 50px;
      color: $pink;
      font-size: 96px;
      line-height: 150px;
      font-weight: 700;
    }
  }

  .effect__text {
    width: 310px;
  }

  .effect__description br:not(:last-child) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    max-width: 100%;
    background-color: #f2f2f2;
  }

  .effect h3 {
    padding-top: 92px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .effect__text {
    width: 570px;
  }

  .effect__text p {
    margin: 0;
    width: 526px;
    padding-left: 15px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__text br:last-child {
    display: none;
  }

  .effect__text a {
    margin-left: 15px;
    font-size: 18px;
  }

  .effect__timer {
    width: 298px;
    height: 345px;
    background: url("../img/timer.svg") no-repeat;

    &::after {
      font-size: 120px;
      top: 180px;
      left: 81px;
    }
  }

  .effect__description br:not(:last-child) {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .effect__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin: 0 auto;
    position: relative;
    padding-top: 58px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .effect__wrapper {
    max-width: 920px;
    padding-top: 66px;
    padding-bottom: 67px;
    padding-left: 1px;
  }
}
