.page-main__header {
  padding: 40px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top;
  background-color: $top-color;
  background-position-y: -61px;
}

.page-main__header-photo {
  padding: 40px;
  padding-bottom: 88px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top;
  background-color: $top-color;
  background-position-y: -61px;
}

.page-main__header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.page-main__header-photo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.page-main__title {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.page-main__title p {
  margin: 0;
}

.page-main__slogan {
  font-size: 24px;
}

.page-main__slogan p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: 300;

  &:first-child {
    padding-top: 50px;
  }

  &:last-child {
    padding-top: 45px;
    padding-bottom: 38px;
  }
}
