.page-footer__feedback {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 45px;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}

.page-footer__social ul {
  margin: 0;
  padding: 0;
}

.page-footer__copyright p {
  line-height: 18px;
}
