.page-header {
  background-color: $text-color;
}

.page-header h1 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  color: $white;
  order: 3;
}

.page-header__logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $black;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

/* Временно для сетки */
@media (min-width: $tablet-width) {
  .page-header__logo {
    min-height: 110px;
  }
}

/* Временно для сетки */
@media (min-width: $desktop-width) {
  .page-header__no-title {
    display: flex;
    justify-content: space-between;
  }
}
