.popup-wrong {
  //display: none;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: $tablet-width) {
  .popup-wrong {
    margin: 0 auto;
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .popup-wrong {
    width: 780px;
  }
}

.popup-wrong p {
  margin: 0 auto;
  padding-top: 30px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .popup-wrong p {
    width: 306px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .popup-wrong p {
    width: 378px;
  }
}

.popup-wrong b {
  color: $black;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .popup-wrong b {
    display: block;
    margin: 0 auto;
    width: 260px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .popup-wrong b {
    width: 396px;
  }
}

.popup-wrong__wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup-wrong__background {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $grey-light;
}

@media (min-width: $tablet-width) {
  .popup-wrong__background {
    padding: 45px 77px;
  }
}

@media (min-width: $desktop-width) {
  .popup-wrong__background {
    padding: 45px 160px;
  }
}

.popup-wrong__close-window {
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 67px;
  padding-left: 67px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  border: 0;
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #61b98f;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
