.post-photo {
  position: relative;
  background-color: $grey-light;

  &::after {
    position: absolute;
    content: "";
    bottom: 200px;
    width: 100%;
    border-top: 1px solid #dddfe0;
    border-bottom: 1px solid #dddfe0;
  }
}

@media (min-width: $tablet-width) {
  .post-photo::after {
    display: none;
  }
}

.post-photo__title {
  margin: 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 41px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .post-photo__title {
    padding-top: 45px;
    padding-bottom: 69px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}

.post-photo__create {
  position: relative;
  text-align: center;
  padding-right: 21px;
  padding-left: 19px;
  padding-top: 20px;
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .post-photo__create {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin: 0 auto;
    padding-top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .post-photo__create {
    padding-left: 20px;
    max-width: 920px;
  }
}

@media (min-width: $tablet-width) {
  .post-photo-tools {
    width: 275px;
  }
}

.post-photo__tool-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 63px;
  padding-top: 33px;
  width: 206px;
}

@media (min-width: $tablet-width) {
  .post-photo__tool-wrapper {
    padding: 0;
    margin-bottom: 23px;
    flex-direction: column;
    width: 100%;
  }
}

.post-photo__clipping {
  border: 0;
  padding: 0;
  background: #f2f2f2;
  cursor: pointer;

  &--active path:nth-child(2) {
    fill: #d22856;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__tool-clipping {
    text-align: left;
    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dddfe0;
  }

  .post-photo__tool-pouring {
    padding-top: 23px;
    padding-bottom: 16px;
    text-align: left;
    margin-left: -2px;
    border-bottom: 1px solid #dddfe0;
  }

  .post-photo__tool-transparency {
    padding-top: 15px;
    text-align: left;
    padding-left: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddfe0;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__clipping svg {
    width: 24px;
    height: 22px;
  }

  .post-photo__pouring svg {
    width: 24px;
    height: 22px;
  }

  .post-photo__transparency svg {
    width: 16px;
    height: 16px;
  }
}

.post-photo__pouring {
  margin-top: 2px;
  border: 0;
  background: #f2f2f2;
  cursor: pointer;

  &:hover path:nth-child(2),
  &:focus path:nth-child(2) {
    fill: #8d949b;
  }

  &:hover rect,
  &:focus rect {
    fill: #8d949b;
  }

  &:active path:nth-child(2) {
    fill: $pink;
  }

  &:active rect {
    fill: $pink;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__pouring {
    margin-top: 3px;
  }
  .post-photo__pouring--active {
    & path:nth-child(2) {
      fill: $pink;
    }

    & rect {
      fill: $pink;
    }
  }
}

.post-photo__transparency {
  margin-top: 10px;
  border: 0;
  background: #f2f2f2;
  cursor: pointer;

  &:hover path,
  &:focus path {
    fill: #8d949b;
  }

  &:active path {
    fill: $pink;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__transparency--active {
    & path {
      fill: $pink;
    }
  }
}

.post-photo__tool-clipping .post-photo__scale {
  position: absolute;
  margin-bottom: -33px;
  width: 240px;
  bottom: 0;
  right: -16px;
  height: 2px;
  background: $text-color;
  cursor: pointer;
}

.post-photo__tool-clipping .post-photo__toggle {
  position: absolute;
  height: 10px;
  width: 10px;
  top: -7px;
  right: 33px;
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  &:active {
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__tool-clipping .post-photo__scale {
    margin-bottom: 0;
    width: 202px;
    top: 19px;
    right: 17px;
  }

  .post-photo__tool-clipping .post-photo__toggle {
    top: -6px;
    right: 42px;
  }

  .post-photo__tool-pouring .post-photo__scale {
    position: absolute;
    width: 202px;
    top: 92px;
    right: 17px;
    height: 2px;
    background: $text-color;
    cursor: pointer;
  }

  .post-photo__tool-pouring .post-photo__toggle {
    position: absolute;
    height: 10px;
    width: 10px;
    top: -6px;
    right: 163px;
    border: 2px solid $pink;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;

    &:active {
      background-color: $pink;
    }
  }

  .post-photo__tool-transparency .post-photo__scale {
    position: absolute;
    width: 202px;
    top: 162px;
    right: 17px;
    height: 2px;
    background: $text-color;
    cursor: pointer;
  }

  .post-photo__tool-transparency .post-photo__toggle {
    position: absolute;
    height: 10px;
    width: 10px;
    top: -6px;
    right: 92px;
    border: 2px solid $pink;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;

    &:active {
      background-color: $pink;
    }
  }
}

.post-photo__send {
  margin-top: 43px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 70px;
  font-weight: 700;
  border: 3px solid $pink;
  border-radius: 30px;
  color: $pink;
  background-color: $grey-light;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $pink;
  }

  &:active {
    color: #e06989;
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__send {
    width: 260px;
    margin-right: 9px;
    margin-bottom: 22px;
    padding: 16px;
    padding-left: 69px;
    padding-right: 75px;
  }
}

.post-photo__reset {
  width: 100%;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 70px;
  font-weight: 700;
  border: 3px solid #dddfe0;
  border-radius: 30px;
  color: #dddfe0;
  background-color: $grey-light;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #b5b9be;
    border-color: #b5b9be;
  }

  &:active {
    color: #cbced2;
    background-color: #b5b9be;
  }
}

@media (min-width: $tablet-width) {
  .post-photo__reset {
    width: 260px;
    margin-right: 9px;
    margin-bottom: 55px;
    padding: 16px;
    padding-left: 69px;
    padding-right: 75px;
  }
}