.reviews {
  padding-top: 50px;
  line-height: 30px;
}

.reviews__list {
  padding-bottom: 40px;
}

.reviews__item {
  margin: 0 auto;
  text-align: center;
  width: 278px;

  &:nth-child(2) {
    display: none;
  }

  &:nth-child(3) {
    display: none;
  }
}

.reviews__item cite {
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.reviews__text {
  margin: 0;
}

.reviews__age {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    width: 620px;
  }

  .reviews__text {
    order: 1;
  }

  .reviews__item cite {
    order: 2;
  }

  .reviews__age {
    display: block;
    line-height: 30px;
    order: 3;
  }
}

.reviews__toggles {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

.reviews__buttons {
  display: none;
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding-top: 150px;

    &::before {
      position: absolute;
      content: "";
      top: 49px;
      left: 432px;
      width: 79px;
      height: 64px;
      background: url("../img/icon-quotes.svg") no-repeat;
    }
  }

  .reviews__item {
    width: 688px;
  }

  .reviews__item p {
    width: 686px;
    font-size: 18px;
  }

  .reviews__item cite {
    padding-top: 30px;
    font-size: 24px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__buttons {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    border: 0;
    cursor: pointer;

    &--previous {
      top: 174px;
      left: 70px;
      opacity: 0.4;
      background: url("../img/icon-review-arrow-left.svg");

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }

    &--next {
      top: 174px;
      right: 70px;
      opacity: 0.4;
      background: url("../img/icon-review-arrow-right.svg");

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }
}
