.reviews {
  padding-top: 42px;
  line-height: 30px;
}

.reviews__list {
  padding-bottom: 33px;
}

.reviews__item {
  margin: 0 auto;
  text-align: center;
  width: 278px;

  &:nth-child(2) {
    display: none;
  }

  &:nth-child(3) {
    display: none;
  }
}

.reviews__item cite {
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.reviews__text {
  margin: 0;
  padding-top: 11px;
}

.reviews__age {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    width: 620px;
  }

  .reviews__text {
    font-size: 18px;
    padding-top: 49px;
    order: 1;
  }

  .reviews__item cite {
    font-size: 20px;
    padding-top: 36px;
    order: 2;
  }

  .reviews__age {
    display: block;
    line-height: 30px;
    order: 3;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 62px;
  text-align: center;
  padding-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .reviews__toggles {
    padding-bottom: 23px;
  }
}

.reviews__buttons {
  display: none;
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding-top: 136px;
    padding-bottom: 18px;

    &::before {
      position: absolute;
      content: "";
      top: 72px;
      left: 443px;
      width: 79px;
      height: 64px;
      background: url("../img/icon-quotes.svg") no-repeat;
    }
  }

  .reviews__item {
    width: 712px;
  }

  .reviews__item p {
    width: 712px;
    font-size: 18px;
  }

  .reviews__item cite {
    padding-top: 36px;
    padding-bottom: 2px;
    font-size: 24px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__buttons {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    border: 0;
    cursor: pointer;

    &--previous {
      top: 212px;
      left: 10px;
      opacity: 0.4;
      background: url("../img/icon-review-arrow-left.svg");

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }

    &--next {
      top: 212px;
      right: 10px;
      opacity: 0.4;
      background: url("../img/icon-review-arrow-right.svg");

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }
}
