.share-photo__item {
  background-color: $grey-light;
}

.share-photo__like {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

.share-photo__panorama {
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  background-color: $pink;
}

.share-photo__author-time {
  font-size: 12px;
  text-transform: uppercase;
}
