.share-photo__item {
  background-color: #f2f2f2;
}

.share-photo__like {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}

.share-photo__panorama {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #d22856;
}

.share-photo__author-time {
  font-size: 12px;
  text-transform: uppercase;
}
