.share-photo__author-item {
  position: relative;
}

.share-photo__author-picture img {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .share-photo__item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .share-photo__item-wrapper .share-photo__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;

    &:nth-child(2n+1) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .share-photo__item-wrapper .share-photo__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 27px;
    padding-right: 32px;
    padding-bottom: 22px;
    min-height: 110px;
  }
}

.share-photo__item {
  position: relative;

  & p {
    margin: 0;
  }

  & img {
    display: block;
  }
}

.share-photo__author-item img {
  display: block;
}

@media (min-width: $desktop-width) {
  .share-photo__item-wrapper .share-photo__wrapper {
    padding-right: 29px;
  }

  .share-photo__item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .share-photo__item-wrapper .share-photo__item {
    margin-bottom: 53px;
  }

  .share-photo__author-item p {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__item-wrapper .share-photo__item {
    &:nth-child(2n+1) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.share-photo__author-image {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .share-photo__author-image {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__author-image {
    height: 100%;
  }
}

.share-photo__text {
  margin: 0;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .share-photo__text {
    flex-grow: 1;
  }
}

.share-photo__button-like {
  width: 15px;
  height: 13px;
  margin-right: 19px;
  border: 0;
  background: url("../img/icon-heart.svg") no-repeat;
  background-size: 15px 13px;
}

@media (min-width: $tablet-width) {
  .share-photo__button-like {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__button-like {
    margin-left: 15px;
    margin-right: 3px;
  }
}

.share-photo__like {
  display: inline;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .share-photo__like {
    order: -1;
  }
}

.share-photo__panorama {
  position: absolute;
  padding: 6px 20px;
  top: -137px;
  width: 100px;
  right: 0px;
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  background-color: $pink;
}

@media (min-width: $tablet-width) {
  .share-photo__panorama {
    top: -452px;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__panorama {
    top: -452px;
  }
}

.share-photo__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 243px;
  margin-bottom: 20px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: $grey-light;
}

@media (min-width: $tablet-width) {
  .share-photo__wrapper {
    max-width: 564px;
    margin-bottom: 50px;
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 29px;
    padding-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__wrapper {
    max-width: 884px;
    margin-bottom: 50px;
  }
}

.share-photo__like-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .share-photo__main-photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .share-photo__name-time {
    order: -2;
  }

  .share-photo__like-wrapper {
    justify-content: space-between;
    order: -1;
  }

  .share-photo__no-order {
    padding-top: 3px;
    order: 0;
  }
}

.share-photo__author-name {
  font-weight: 700;
}

.share-photo__author-time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .share-photo__panorama-picture {
    height: 509px;
    width: 700px;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .share-photo__panorama-picture {
    height: 506px;
    width: 1200px;
  }
}
