.download {
  background-color: #1d2631;
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.download__list {
  margin: 0;
  padding: 0;
}

.download p {
  color: #ffffff;
}
